
GCD_Calculator/.idea/

GCD_Calculator/GCD_Calculator.iml

GCD_Calculator/out/production/GCD_Calculator/sample/sample.fxml

GCD_Calculator/out/production/GCD_Calculator/StyleSheet/Calculator-icon.png

GCD_Calculator/out/production/GCD_Calculator/StyleSheet/CalculatorStyleSheet.css
